# Set Data Type
1.Mutable Data type

2.Elements are unique

3.Immutable elemets in set-int,float,tuple,str

4.Unordered(No indexing or slicing can be performed)

In [1]:
s={10,20,30,40}
s

{10, 20, 30, 40}

In [2]:
s={10,20,30,10,40,20,50}
s

{10, 20, 30, 40, 50}

# **Add**

In [3]:
s={100,200,300,400}
s.add(500)
s

{100, 200, 300, 400, 500}

# Union

In [4]:
s1={10,20,30,40,50,60}
s2={40,50,60,70,80,90}
s3=s1.union(s2)
s3

{10, 20, 30, 40, 50, 60, 70, 80, 90}

# Intersection

In [5]:
s3=s1.intersection(s2)
s3

{40, 50, 60}

# Difference

In [6]:
s3=s1.difference(s2)
s3

{10, 20, 30}

# Symmetric difference

In [7]:
s3=s1.symmetric_difference(s2)
s3

{10, 20, 30, 70, 80, 90}

# Update (modify the set)

In [8]:
#print(s1)
#s1.update(s2)
#s1

# Intersection_update(original dataset is modified)

In [9]:
#s1.intersection_update(s2)
#s1

# difference_update

In [10]:
#s1.difference_update(s2)
#s1

# symmetric_difference_update

In [11]:
s1.symmetric_difference_update(s2)
s1

{10, 20, 30, 70, 80, 90}

# issubset (BOOL)

In [12]:
s1={100,200,300,400,500}
s2={100,200,300}
print(s2.issubset(s1))

True

# issuperset

In [13]:
print(s1.issuperset(s2))

True

# convert list to set

In [14]:
l=[100,200,300,300,300,200,400,500]
s= set(l)
s

{100, 200, 300, 400, 500}

# combining both lists, removing duplicates and sorting

In [15]:
l1= [100,200,300,400,500]
l2= [50,100,150,200,250,500,45,35,20,10]
s1= set(l1)
s2= set(l2)
s3= s1.union(s2)
s3

{10, 20, 35, 45, 50, 100, 150, 200, 250, 300, 400, 500}

In [16]:
l3=list(s3)
l3

[35, 100, 200, 10, 300, 45, 400, 50, 500, 20, 150, 250]

In [17]:
l3.sort()
l3

[10, 20, 35, 45, 50, 100, 150, 200, 250, 300, 400, 500]

In [18]:
#sorting the set while converting it into list
l3=sorted(s3) 
l3

[10, 20, 35, 45, 50, 100, 150, 200, 250, 300, 400, 500]

# pop, remove, discard, clear, del

In [19]:
s= {100,200,300,400,500,600}
#r= s.pop()
#print(r,s)

In [20]:
#for removing specific element
#s.remove(100)
#print(s)

In [21]:
#removes specific element
#s.discard(100)
#s

In [22]:
#will not throw any error
s.discard(1000)
s

{100, 200, 300, 400, 500, 600}